.header {
  background-color: $dark-color;

  &-container {
    margin-bottom: 25px;
    height: 51px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    max-width: 1110px;
  }

  &-logo {
    height: 50px;
  }

  &-nav {
    display: block;
    color: #fff;
    text-transform: uppercase;

    &-list {
      display: flex;

      &-item {
        margin-right: 1px;
        padding: 7px 15px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }

      &-item:hover,
      &-item:focus {
        background-color: $accent-color;

        .header-nav-link {
          color: $dark-color;
        }
      }
    }

    &-link {
      color: $main-font-color;
      font-size: 13px;
      font-weight: $regular-font;
    }
  }
}
