.header {
  background-color: #323232;

  &-container {
    margin-bottom: 25px;
    height: 51px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    max-width: 1110px;
  }

  &-logo {
    height: 50px;
  }

  &-nav {
    display: block;
    color: #fff;
    text-transform: uppercase;

    &-list {
      display: flex;

      &-item {
        margin-right: 1px;
        padding: 7px 15px;
      }

      &-item:hover,
      &-item:focus {
        background-color: #faaf00;

        .header-nav-link {
          color: #323232;
        }
      }
    }

    &-link {
      color: #ffffff;
      font-size: 13px;
      font-weight: 400;
    }
  }
}
